{% extends "base.html" %}
{% block title %}<title>Регистрация</title>{% endblock %}
{% block content %}
<div class="bg-white rounded-lg shadow-md p-10 mx-auto mt-16 w-full sm:w-96">
    <h1 class="text-2xl font-semibold mb-4">Регистрация</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            <label for="name" class="block text-gray-700">Имя:</label>
            <input type="text" name="name" required class="w-full py-2 px-3 border rounded focus:outline-none focus:border-purple-400">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700">Email:</label>
            <input type="text" name="email" required class="w-full py-2 px-3 border rounded focus:outline-none focus:border-purple-400">
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700">Пароль:</label>
            <input type="password" name="password" required class="w-full py-2 px-3 border rounded focus:outline-none focus:border-purple-400">
        </div>
        <div class="mb-4"> 
            <input type="submit" value="Зарегистрироваться" class="bg-purple-700 text-white py-2 px-4 rounded cursor-pointer hover:bg-purple-800">
        </div>
    </form>
    <p class="mt-4 text-center">Уже есть аккаунт? <a href="{{ url_for('login') }}" class="text-purple-700">Войти</a></p>
</div>
{% endblock %}
