{% extends "base.html" %}

{% block title %}
<title>Приседания</title>
{% endblock %}

{% block content %}

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>

<div class="flex flex-col min-h-screen">
    <div id="container">
        <video autoplay playsinline id="videoElement"></video>
        <canvas id="canvas" width="400" height="300"></canvas>
    </div>

      <div id = "video" class='flex items-center justify-center'>
        <img id="photo" width="60%">
    </div>
    <div class="flex justify-center">
        <a href="{{ url_for('rating') }}" class="bg-purple-700 text-white py-2 px-4 rounded mt-4">Завершить</a>
    </div>
    <script>
        var socket = io.connect(
            window.location.protocol + "//" + document.domain + ":" + location.port
        );
        socket.on("connect", function () {
            console.log("Connected...!", socket.connected);
        });

        socket.emit("exercise", "squat");
    </script>
    <script src="{{url_for('static', filename='camera.js')}}"></script>
</div>
{% endblock %}
